body
{
    color:#246e2e;
}
main section
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 60%;
    padding: 12em 1em 12em 1em;
    border-radius: 1em;
}
main section
{
    font-size: 1.25em;
}
main section p
{
    margin: 0.05em;
}
main section label
{
    font-weight: bold;
}
main section input[type="text"]
{
    width: 20.5em;
}
main section .green
{
    color: green;
}
main section .red
{
    color: red;
}
main section #gbtext
{
    display: flex;
    flex-flow: row wrap;
}