main section
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    height: 69vh;
    margin-bottom: 4.5em;
    padding: 1em;
    border-radius: 1em;
}
main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
main section
{
    font-size: 1.25em;
}
main section p
{
    margin: 0.05em;
}
main section label
{
    font-weight: bold;
}
main section input[type="text"]
{
    width: 20.5em;
}
main section .green
{
    color: green;
}
main section .red
{
    color: red;
}
main section #gbtext
{
    display: flex;
    flex-flow: row wrap;
}